services:
  postgres:
    image: postgres:15
    container_name: oracle-ai-postgress
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: oracle_ai
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: oracle-ai-rediss
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
    container_name: oracle-ai-backendd
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
    container_name: oracle-ai-frontendd
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: oracle-ai-nginxx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  pg_data:
